<!doctype html>
<html>
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="A pizza creator!">
<meta name="author" content="Kevin Nolan">

<link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel = "stylesheet" href="/stylesheets/style.css">

<title>Pizza Poller Deluxe</title>

<style>
/* This is page-specific CSS not otherwise handled in style.css*/

.pizTopp {
  position:absolute;
  margin:0px;
  padding:0px;
  animation: topp-anim 300ms ease-in;
  z-index: 4;
}
@keyframes topp-anim {
  from {
    transform:scale(2);
    opacity:0;
  }
}
</style>

</head>

<body>
<h1>Pizza Poller Deluxeeeee</h1>

<form action="/newtoppings" method = "POST">

  <input type = "text" placeholder = "Please enter topping" name = "othertopping"><br>

  <button type = "submit">Submit</button>
</form>

<h3>Favourite Pizzas</h3>
<p>Others have voted for:</p>
<%

let topPizzas=[]; 
pizzas.forEach((el)=>{
  let arr=Object.keys(el);
  // Convert to array, remove non-ingredient database fields, and sort
  arr.forEach((elem,ind)=>{if (elem == '_id') arr.splice(ind,1);});
  arr.sort();
  // arr: [['ham', 'pineapple'] etc.]
  // Create array of unique topping objects with a name and count of the duplicates
  let matched = false;
  topPizzas.forEach((el2,ind2)=> {
    if (arr.toString() == el2.ingred.toString()) {
      el2.count +=1;
      matched = true;
    }
  });
  if (!matched) topPizzas.push({ingred:arr, count: 1, name: "Custom"});
});
//topPizzas: [{ingred: ["ham","pineapple"], count:1, name: "Custom"} etc.]
// Match to set topping names
topPizzas.forEach((elem)=>{
  for (let tops in setToppings) {
    if (elem.ingred.toString() == setToppings[tops].ingred.toString()) elem.name = setToppings[tops].name;
  }
});
//topPizzas: [{ingred: ["ham","pineapple"], count:1, name: "Hawaiian"} etc.]
// Sort in order of popularity
topPizzas.sort((a,b)=>{
  return b.count - a.count;  
});
//console.log("Sorted: ",topPizzas);

// Display
topPizzas.forEach((elem)=> {
  %>
  <div class="topP" id= "fr-<%=elem.name%>" >
    <b><%=elem.name%> : <%=elem.count%></b>
    <%
      elem.ingred.forEach((ing)=> {
      //const frame=document.getElementById("fr-" + elem.name);
      //console.log(frame);
      //const icon = document.createElement("img");
      //frame.appendChild(icon);
      //icon.className = "pizTopp";
      //icon.src='images\\'+topps[ing].src[0];

      %> - <%=ing%> - <%
    });
    %>
  </div>
  <%
});


//console.log("Counted:",pArr2);
//........
%>
<h3>Other toppings Poll</h3>
<ul class = "pizza">
  <%
  newToppings.forEach ((elem)=> {
    if (elem.topping) {
      %>
      <li class="pizza">
        <span><%=elem.topping %></span><br>
      </li>
      <%
    }
  });
  %>
</ul>


<script>

</script>

</body>
</html>